* {
  box-sizing: border-box;
}

:root {
--lightFont: rgb(231, 174, 248);
--darkFont: rgb(2, 53, 2);
--secondary: rgb(3, 171, 201, 0.5);
--primary: rgb(42, 35, 53);

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


header {
  padding: 10px 2% 10px 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(59, 0, 73);
  box-shadow: 0 5px 35px rgba(146,204,206,0.4);
}

header h1 {
  color: var(--darkFont);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size:xx-large;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 20px;
  color: var(--lightFont);
  display: flex;
  transition: font-size 1s 0s;
}

nav a:hover {
  font-size: 18px;
}

.hero-banner {
  background-color: black;
background-image: url("../images/hero-bg.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
min-height: 30vh;
padding: 5px 5px;
display: flex;
justify-content: flex-end;
align-items: flex-start;
font-style: italic;
text-align: right;
}

.hero-banner div {
  flex: 0 0 90%;
  
}

.hero-banner h2 {
  background-color: var(--primary);
  display: flex;
  color: var(--lightFont);
  padding: 5px 5px 5px 20px;
  margin: 2px; 
  display: inline;
  font-size: 25px;

}

.page-wrapper {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.page-section {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.page-section h2 {
  margin: ;
  padding: ;
  
}