* {
  box-sizing: border-box;
}
/*variables for colours used through css*/
:root {
--lightFont: rgb(231, 174, 248);
--darkFont: rgb(35, 37, 35);
--secondary: rgb(3, 171, 201, 0.5);
--primary: rgb(42, 35, 53);

}

/*default settings for body section*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*default settings for headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*default settings for paragraphs*/
p {
  margin: 0;
}

/*settings for header section*/
header {
  padding: 10px 2% 10px 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(var(--primary), black, var(--darkFont));
  box-shadow: 0 5px 35px rgba(146,204,206,0.4);
}

/*settings for h1 headings in header section*/
header h1 {
  color: var(--lightFont);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size:xx-large;
}

/*settings for nav menu*/
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 20px;
  color: var(--lightFont);
  display: flex;
  transition: font-size 1s 0s;
}

nav a:hover {
  font-size: 18px;
}

/*settings for main image*/
.hero-banner {
  background-color: black;
background-image: url("../images/hero-bg.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
min-height: 30vh;
padding: 5px 5px;
display: flex;
justify-content: flex-end;
align-items: flex-start;
font-style: italic;
text-align: right;
}

/*settings for avatar image*/
.hero-banner img {
  border-radius: 30%;
  position:relative;
  top: 12px;
  left: 3%;
  margin: 2px solid black;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.hero-banner div {
  flex: 0 0 90%;
  
}

/*settings for "here for the code" heading*/
.hero-banner h2 {
  background-color: var(--primary);
  display: flex;
  color: var(--lightFont);
  padding: 5px 5px 5px 20px;
  margin: 2px; 
  display: inline;
  font-size: 25px;

}

/*settings for two columns layout of main body*/
.page-wrapper {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

}

/*settings for portfolio container*/
.page-section {
  margin: 20px 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

/*settings for portfolio container heading*/
.page-section h2 {
  flex: 0 0 25%;
  margin: 5px;
  padding: 10px 5px;
  text-align: right;
  border-right: 5px solid var(--primary);
  font-size: 250%;
  text-shadow: 1px 5px 5px rgba(24, 44, 48, 0.5);
}

.page-section div {
flex: 0 0 70%;

}

/*settings for portfolio container paragraph*/
.page-section p {
  margin-bottom: 10px;
  margin-right: 5px;
}

/*settings for portfolio container grid layout*/
.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "top-row top-row"
  "middle-left middle-right"
  "bottom-left bottom-right";
  margin-bottom: 20px;
}

/*settings for portfolio items*/
.grid-item-refactoring {
  grid-area: top-row;
  border: 2px solid var(--darkFont);
  background-image: url(../images/5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 5px;
  text-decoration: none;
}

.grid-item-soon1 {
  grid-area: middle-left;
  border: 2px solid var(--darkFont);
  background-image: url(../images/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 5px;
}

.grid-item-soon2 {
  grid-area: middle-right;
  border: 2px solid var(--darkFont);
  background-image: url(../images/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 5px;
}

.grid-item-soon3 {
  grid-area: bottom-left;
  border: 2px solid var(--darkFont);
  background-image: url(../images/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 5px;
}

.grid-item-soon4 {
  grid-area: bottom-right;
  border: 2px solid var(--darkFont);
  background-image: url(../images/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 5px;
}

/*settings for portfolio item headings*/
.grid-item-refactoring h1, 
.grid-item-soon1 h1, 
.grid-item-soon2 h1,
.grid-item-soon3 h1, 
.grid-item-soon4 h1 {
  color: var(--lightFont);
  display: flex;
  background-color:  rgba(0,0,0,0.4);
  padding: 2px 2px;
  margin-left: 2px;
  margin-top: 2px;
  margin-right: 55%;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.grid-item-refactoring span,
.grid-item-soon1 span,
.grid-item-soon2 span,
.grid-item-soon3 span,
.grid-item-soon4 span  {
  color: var(--lightFont);
  display: flex;
  justify-content: start;
  align-items: end;
  font-style: italic;
  text-decoration: none;
  background-color: rgba(0,0,0,0.4);
  padding: 5px 5px 80px 5px;
  margin-left: 2px;
  margin-right: 55%;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
}

/*settings for contact details*/
#contact a {
display: inline-flex;
align-items: center;
flex-direction: row;
justify-content:space-around;
text-decoration: none;
color: black;
font-size: 20px;
padding: 20px;
margin-top: 20px;
flex-wrap:nowrap;
background-repeat: no-repeat;
background-size: 100% 0.2em;
background-position: bottom;
transition: all 0.25s ease-in;
}

#contact a:hover {
  background-size: 100% 100%;
  background-color: var(--lightFont);
  color: var(--darkFont)
}

footer h3 {
  text-align: center;
  margin: 2px;
  padding: 15px 3px 0 3px;
  border-top: 2px dashed var(--lightFont);
}

footer img {
  position: relative;
  top: 2px;
  left: 85%;
  display: inline;
  max-height: 50px;
  
}

/*media queries*/
@media screen and (max-width: 1000px) {
  header {
    padding: 0 0 10px;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section h2,
  .page-section div {
    flex: 0 0 100%;
  }

  .page-section h2 {
    border-right: none;
    border-bottom: 4px solid var(--darkFont);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }

  .hero-banner img {
    border-radius: 30%;
    position:relative;
    top: 12px;
    left: 10%;
  }

  .grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "top-row"
    "middle-left"
    "middle-right"
    "bottom-left" 
    "bottom-right";
    max-height: 750px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 0 0 10px;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section h2,
  .page-section div {
    flex: 0 0 100%;
  }

  .page-section h2 {
    border-right: none;
    border-bottom: 4px solid var(--darkFont);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }

  .hero-banner img {
    border-radius: 30%;
    position:relative;
    top: 22px;
    left: 30%;
  }

  .grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "top-row"
    "middle-left"
    "middle-right"
    "bottom-left" 
    "bottom-right";
    max-height: 950px;
    margin-bottom: 100px;
  }
}