* {
  box-sizing: border-box;
}

:root {
--lightFont: rgb(231, 174, 248);
--darkFont: rgb(35, 37, 35);
--secondary: rgb(3, 171, 201, 0.5);
--primary: rgb(42, 35, 53);

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


header {
  padding: 10px 2% 10px 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(59, 0, 73);
  box-shadow: 0 5px 35px rgba(146,204,206,0.4);
}

header h1 {
  color: var(--lightFont);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size:xx-large;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 20px;
  color: var(--lightFont);
  display: flex;
  transition: font-size 1s 0s;
}

nav a:hover {
  font-size: 18px;
}

.hero-banner {
  background-color: black;
background-image: url("../images/hero-bg.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
min-height: 30vh;
padding: 5px 5px;
display: flex;
justify-content: flex-end;
align-items: flex-start;
font-style: italic;
text-align: right;
}

.hero-banner div {
  flex: 0 0 90%;
  
}

.hero-banner h2 {
  background-color: var(--primary);
  display: flex;
  color: var(--lightFont);
  padding: 5px 5px 5px 20px;
  margin: 2px; 
  display: inline;
  font-size: 25px;

}

.page-wrapper {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.page-section {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.page-section h2 {
  flex: 0 0 25%;
  margin: 5px;
  padding: 10px 5px;
  text-align: right;
  border-right: 5px solid var(--primary);
  font-size: 250%;
  text-shadow: 1px 5px 5px rgba(24, 44, 48, 0.5);
}

.page-section div {
flex: 0 0 70%;

}

.page-section p {
  margin-bottom: 10px;
  margin-right: 5px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "top-row top-row"
  "middle-left middle-right"
  "bottom-left bottom-right";
  max-height: 500px;
  min-height: 500px;

}

.grid-item-refactoring {
  grid-area: top-row;
  border: 2px solid var(--darkFont);
  background-image: url(../images/5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 5px;
  text-decoration: none;
}

.grid-item-soon1 {
  grid-area: middle-left;
  border: 2px solid var(--darkFont);
  background-image: url(../images/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 5px;
}

.grid-item-soon2 {
  grid-area: middle-right;
  border: 2px solid var(--darkFont);
  background-image: url(../images/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 5px;
}

.grid-item-soon3 {
  grid-area: bottom-left;
  border: 2px solid var(--darkFont);
  background-image: url(../images/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 5px;
}

.grid-item-soon4 {
  grid-area: bottom-right;
  border: 2px solid var(--darkFont);
  background-image: url(../images/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin: 5px;
}

.grid-item-refactoring h1, 
.grid-item-soon1 h1, 
.grid-item-soon2 h1,
.grid-item-soon3 h1, 
.grid-item-soon4 h1 {
  color: var(--lightFont);
  display: flex;
  justify-content: end;
}

.grid-item-refactoring span,
.grid-item-soon1 span,
.grid-item-soon2 span,
.grid-item-soon3 span,
.grid-item-soon4 span  {
  color: var(--lightFont);
  display: flex;
  justify-content: end;
  font-style: italic;
}

#contact a {
display: inline-flex;
align-items: center;
flex-direction: row;
justify-content:space-around;
text-decoration: none;
color: black;
font-size: 20px;
padding: 20px;
flex-wrap:nowrap;
}